body{
    background-color: getColor(gray);
    font-family: $text-font;
}

header{
    background-color: getColor(light-brown);
}

main{    
    width:85%;
    margin: 50px auto;
    text-align: center;
}

h1{    
   font-size: 1.8rem;
}

.container{
    width: 90%;
    display: flex;
}

.row{
    justify-content: center;
    &__item {
        flex: 0 0 250px;
        margin: 15px;
        height: 250px;
        border-radius: 15px;
        background-color: getColor(light-brown);

        &--red{
            border: 2px solid getColor(white);
            background-color: getColor(mypink);
        }

        &--white-red{
            border: 2px solid getColor(mypink);
            background-color: getColor(white);
        }
    }
}

.active{
   color: getColor(mypink) !important;
}