body{
    background-color: getColor(gray);
    font-family: $text-font;
}

header{
    background-color: getColor(light-brown);
}

main{    
    width:85%;
    margin: 50px auto;
    text-align: center;
}

h1{    
   font-size: 1.8rem;
}

.container{
    width: 90%;
    display: flex;
}

